/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
	display: flex;
	color: black;
	height: 10%;
	width: 100%;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 15%;
	border: 2px solid pink;
}

a{
	text-decoration: none;
	color: black;
}

.list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 70%;
	border: 2px solid black;
}

.dropdown{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 15%;
	border: 2px solid green;
}

.firstSection{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;	
}

.writing{
	height: 35%;
	width: 40%;
	margin-left: 10%;
	margin-top: 12%;
}

.blackbox{
	height: 35%;
	width: 35%;
}

.secondSection{
	display: flex;
	height: 50%;
	width: 100%;
}

.firstDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 33.33%;
}

.secondDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 33.33%;
}

.thirdDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 33.33%;
}

.thirdSection{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;
}

.thirdSecWriting{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60%;
	width: 40%;
}

.thirdSecImage{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 60%;
	width: 40%;
}

.fourthSection{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
	width: 100%;
}

.firstStylist{
	height: 95%;
	width: 25%;
}

.secondStylist{
	height: 95%;
	width: 25%;
}

.thirdStylist{
	height: 95%;
	width: 25%;
}

.fifthSection{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 100%;
}

.fifthSectionWriting{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 80%;
	width: 45%;
}

.sixthSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90%;
	width: 100%;
}

.spanSixth{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 20%;
}

#imageContainer{
	display: flex;
	height: 90%;
	width: 70%;
	margin: 1%;
}

.subImageContOne{
	height: 100%;
	width: 33.33%;
}

#firstImage{
	height: 30%;
	width: 100%;
}

#secondImage{
	height: 70%;
	width: 100%;
}

.subImageContTwo{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 33.33%;
}

#thirdImage{
	height: 70%;
	width: 100%;
}

#fourthImage{
	height: 30%;
	width: 100%;
}

.subImageContThree{
	height: 100%;
	width: 33.33%;
}

#fifthImage{
	height: 30%;
	width: 100%;
}

#sixthImage{
	height: 70%;
	width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header{
	color:white;
}

a{
	color: white;
}

button{
	background: black;
	color: white;
	height: 25%;
	width: 25%;
}

.firstSection{
	background-image: url(firstBg.jpeg);
	background-size: cover;
}

.writing{
	color:white;
	background: black;
}

.blackbox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	background: black;
	margin-left: 10%;
    margin-top: 5%;
	margin-bottom: 5%;
}

.secondSection{
	color: white;
}

#hFourHeaders{
	color: black;
}

#spriteParagraph{
	color: black;
	text-align: center;
}

#videoImage{
	height: 100%;
	width: 100%;
}

#stylists{
	height: 100%;
	width: 100%;
}

.fifthSectionWriting{
	margin-right: 50%;
}

.firstStylist{
	background-image: url(barberOne.jpeg);
	background-size: cover;
}

.secondStylist{
	background-image: url(barberTwo.jpeg);
	background-size: cover;
}

.thirdStylist{
	background-image: url(barberThree.jpeg);
	background-size: cover;
}

.fifthSection{
	background-image: url(tools.jpeg);
	background-size: cover;
}

#firstImage{
	background-image: url(firstOfSix.jpeg);
	background-size: cover;
}

#secondImage{
	background-image: url(secondOfSix.jpeg);
	background-size: cover;
}

#thirdImage{
	background-image: url(thirdOfSix.jpeg);
	background-size: cover;
}

#fourthImage{
	background-image: url(blackBox.jpeg);
	background-size: cover;
}

#fifthImage{
	background-image: url(fiveOfSix.jpeg);
	background-size: cover;
}

#sixthImage{
	background-image: url(sixOfSixth.jpeg);
	background-size: cover;
}

.fifthSection{
	background-image: url(underStylist.jpeg);
}

.firstSection{
	background-image: url(firstSecBG.jpeg);
	background-size: cover;
}

